<div class="swiper-wrapper">


    <div class="swiper-slide">
        <div class="slide-box" >
            <img class="img" src="Public/College/images/home-slide-alibaba.png" alt="">
            <div class="description"  data-swiper-parallax="-300">

                <div class="box">
                    <div class="line"><span class="q q-l">“</span>幻熊提供行业最出色的产品。很高兴能携手幻熊共同推进中国婚嫁行业的</div>
                    <div class="line">互联网化变革，重塑行业服务体系与商业文明，建立全新的婚嫁消费格局。<span class="q q-r">”</span></div>
                </div>

            </div>
            <div class="title"  data-swiper-parallax="-300"> 幻熊，是阿里巴巴技术创业营的孵化企业。</div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="slide-box" >
            <img class="img" src="Public/College/images/home-slide-dianping.png" alt="">
            <div class="description"  data-swiper-parallax="-300">
                <div class="box">
                    <div class="line"><span class="q q-l">“</span>幻熊的产品都做的十分精致而扎实。对婚嫁行业的洞见，也给我们留下了</div>
                    <div class="line">极其深刻的印象，而最让我们触动的是，是幻熊对这个行业的热爱和激情。<span class="q q-r">”</span></div>
                </div>
            </div>
            <div class="title"  data-swiper-parallax="-300"> 幻熊，是大众点评结婚业务的战略合作伙伴。</div>
        </div>
    </div>


    <div class="swiper-slide">
        <div class="slide-box" >
            <img class="img" src="Public/College/images/home-slide-hunban.png" alt="">
            <div class="description"  data-swiper-parallax="-300">
                <div class="box">
                    <div class="line"><span class="q q-l">“</span>幻熊提供行业领先门店体验及自动化营销解决方案，凭借阿里婚伴的流量入口</div>
                    <div class="line">及商家赋能优势，希冀共同为中国新娘提供个性化及高品质的结婚服务平台。<span class="q q-r">”</span></div>
                </div>
            </div>
            <div class="title"  data-swiper-parallax="-300">幻熊，是阿里巴巴婚伴平台的战略合作伙伴。</div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="slide-box" >
            <!--<img class="img" src="Public/College/images/home-slide-hunban.png" alt="">-->
            <video class="video-js vjs-16-9 vjs-default-skin vjs-skin-halo-home" halo-video
                   creation-date="true"
                   controls
                   webkit-playsinline preload="none"
                   poster="http://7xopel.com2.z0.glb.qiniucdn.com/college/banner/2015.jpg"
            >
                <source src="http://7s1t37.com2.z0.glb.qiniucdn.com/WFCHJ/2015WFC.mp4" type='video/mp4'>
                <!--<source src="{{vm.data.video.url}}" type='video/mp4'>-->
                <p class="vjs-no-js">您的浏览器版本太低，无法播放</p>
            </video>

        </div>
    </div>
    <div class="swiper-slide">
        <div class="slide-box" >
            <!--<img class="img" src="Public/College/images/home-slide-hunban.png" alt="">-->
            <video class="video-js vjs-16-9 vjs-default-skin vjs-skin-halo-home" halo-video
                   creation-date="true"
                   controls
                   webkit-playsinline preload="none"
                   poster="Public/College/images/home-slide-2014.jpg"
            >
                <source src="http://7s1t37.com2.z0.glb.qiniucdn.com/WFCHJ/2014WFC.mp4" type='video/mp4'>
                <!--<source src="{{vm.data.video.url}}" type='video/mp4'>-->
                <p class="vjs-no-js">您的浏览器版本太低，无法播放</p>
            </video>

        </div>
    </div>
    <div class="swiper-slide">
        <div class="slide-box" >
            <!--<img class="img" src="Public/College/images/home-slide-hunban.png" alt="">-->
            <video class="video-js vjs-16-9 vjs-default-skin vjs-skin-halo-home" halo-video
                   creation-date="true"
                   controls
                   webkit-playsinline preload="none"
                   poster="Public/College/images/home-slide-2013.jpg"
            >
                <source src="http://7s1t37.com2.z0.glb.qiniucdn.com/WFCHJ/2013WFC.mp4" type='video/mp4'>
                <!--<source src="{{vm.data.video.url}}" type='video/mp4'>-->
                <p class="vjs-no-js">您的浏览器版本太低，无法播放</p>
            </video>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="slide-box" >
            <!--<img class="img" src="Public/College/images/home-slide-hunban.png" alt="">-->
            <video class="video-js vjs-16-9 vjs-default-skin vjs-skin-halo-home" halo-video
                   creation-date="true"
                   controls
                   webkit-playsinline preload="none"
                   poster="Public/College/images/home-slide-2012.jpg"
            >
                <source src="http://7s1t37.com2.z0.glb.qiniucdn.com/WFCHJ/2012WFC.mp4" type='video/mp4'>
                <!--<source src="{{vm.data.video.url}}" type='video/mp4'>-->
                <p class="vjs-no-js">您的浏览器版本太低，无法播放</p>
            </video>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="slide-box" >
            <img class="img" src="Public/College/images/home-slide-36kr.png" alt="">
            <div class="description"  data-swiper-parallax="-300">
                <div class="box">
                    <div class="line"><span class="q q-l">“</span>幻熊，你们的出现就是一场最美丽的婚礼。作为国内最顶尖孵化器 - 氪空间</div>
                    <div class="line">的毕业项目，幻熊有着对婚嫁垂直领域的深刻洞察，及出色的产品设计能力。<span class="q q-r">”</span></div>
                </div>
            </div>
            <div class="title"  data-swiper-parallax="-300">幻熊，是36氪氪空间的孵化企业。</div>
        </div>
    </div>

</div>
